<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"><title>Send Vulnerable</title></head>
<body>
<h2>Gửi mail (Vulnerable)</h2>

<form method="post" action="/notify/send-vulnerable">
    <label>Email nhận:</label><br>
    <input type="text" name="to"><br><br>

    <label>Subject:</label><br>
    <input type="text" name="subject"><br><br>

    <label>Message:</label><br>
    <textarea name="message"></textarea><br><br>

    <button type="submit">Gửi</button>
</form>

</body>
</html>
