<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>Đăng nhập</h2>

<form method="post" action="/doLogin">
    <label>User:</label>
    <input type="text" name="username" />

    <label>Password:</label>
    <input type="password" name="password" />

    <button type="submit">Đăng nhập</button>
</form>

<div th:if="${param.error}">Sai mật khẩu hoặc tài khoản bị khóa.</div>
<div th:if="${param.logout}">Đăng xuất thành công.</div>

</body>
</html>
