<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h2>Đăng nhập</h2>

<form method="post" action="/doLogin">
    <label>User:</label>
    <input type="text" name="username" />

    <label>Password:</label>
    <input type="password" name="password" />

    <button type="submit">Đăng nhập</button>
</form>

<div th:if="${param.locked}">
    Tài khoản đã nhập sai quá số lần. Tạm khóa, vui lòng thử lại sau.
</div>

<div th:if="${param.badpass}">
    Mật khẩu không đúng.
</div>

<div th:if="${param.error}">
    Đã xảy ra lỗi đăng nhập.
</div>


</body>
</html>
